In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing

In [2]:
df = pd.read_csv("input/train.csv", index_col = 0)
df.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1    0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2    0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3    0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4    0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [3]:
le = preprocessing.LabelEncoder()
df["cut"] = le.fit_transform(df["cut"])
df["color"] = le.fit_transform(df["color"])
df["clarity"] = le.fit_transform(df["clarity"])

In [4]:
df=df[(df.x!=0) & (df.y!=0) & (df.z!=0)]
df

       carat  cut  color  clarity  depth  table     x     y     z  price
id
0       0.30    4      2        5   62.8   56.0  4.29  4.31  2.70    605
1       0.34    2      1        2   62.6   55.0  4.46  4.49  2.80    565
2       0.40    4      0        2   60.3   62.0  4.70  4.75  2.85    720
3       0.40    3      4        4   61.8   59.2  4.72  4.74  2.92    793
4       0.90    4      0        2   61.0   63.0  6.10  6.13  3.73   4381
...      ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
40450   0.32    2      0        4   61.5   56.0  4.41  4.43  2.72    862
40451   0.30    2      0        5   60.9   57.0  4.32  4.35  2.64    710
40452   0.47    3      3        2   62.7   58.0  4.97  4.99  3.12    931
40453   0.40    1      3        5   63.5   56.0  4.68  4.70  2.98    807
40454   2.02    4      4        3   62.3   58.0  7.97  8.04  4.99  15064

[40438 rows x 10 columns]

In [5]:
df.corr()

,carat,cut,color,clarity,depth,table,x,y,z,price
carat,1.000000,0.020726,0.289056,-0.212794,0.032511,0.181855,0.978113,0.947138,0.956417,0.922545
cut,0.020726,1.000000,0.002784,0.025762,-0.188834,0.149925,0.024865,0.029869,0.005439,0.040774
color,0.289056,0.002784,1.000000,-0.025435,0.046578,0.026379,0.268269,0.259705,0.265885,0.171166
clarity,-0.212794,0.025762,-0.025435,1.000000,-0.054338,-0.084555,-0.224556,-0.214786,-0.223541,-0.072152
depth,0.032511,-0.188834,0.046578,-0.054338,1.000000,-0.297041,-0.020559,-0.024796,0.099001,-0.005192
table,0.181855,0.149925,0.026379,-0.084555,-0.297041,1.000000,0.195995,0.182772,0.151105,0.129909
x,0.978113,0.024865,0.268269,-0.224556,-0.020559,0.195995,1.000000,0.967384,0.970392,0.887478
y,0.947138,0.029869,0.259705,-0.214786,-0.024796,0.182772,0.967384,1.000000,0.946039,0.861420
z,0.956417,0.005439,0.265885,-0.223541,0.099001,0.151105,0.970392,0.946039,1.000000,0.864246
price,0.922545,0.040774,0.171166,-0.072152,-0.005192,0.129909,0.887478,0.861420,0.864246,1.000000

In [6]:
df.drop(["x","y","z"],axis =1, inplace = True)

In [7]:
df

       carat  cut  color  clarity  depth  table  price
id
0       0.30    4      2        5   62.8   56.0    605
1       0.34    2      1        2   62.6   55.0    565
2       0.40    4      0        2   60.3   62.0    720
3       0.40    3      4        4   61.8   59.2    793
4       0.90    4      0        2   61.0   63.0   4381
...      ...  ...    ...      ...    ...    ...    ...
40450   0.32    2      0        4   61.5   56.0    862
40451   0.30    2      0        5   60.9   57.0    710
40452   0.47    3      3        2   62.7   58.0    931
40453   0.40    1      3        5   63.5   56.0    807
40454   2.02    4      4        3   62.3   58.0  15064

[40438 rows x 7 columns]

In [8]:
X=df.drop(columns=["price"])
y=df["price"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32350, 6) (8088, 6) (32350,) (8088,)

In [10]:
model= RandomForestRegressor(n_estimators=500).fit(X_train, y_train)
y_pred=model.predict(X_test)
print(np.mean(cross_val_score(model, X_train, y_train, scoring='r2', cv=3, n_jobs=2)))
print("r2_score", r2_score(y_test,y_pred))
print("RSME", (mean_squared_error(y_test,y_pred)**0.5))

0.9785185250513756
r2_score 0.979223835962836
RSME 576.2283766691811

In [11]:
diamonds_test = pd.read_csv("Input/predict.csv", index_col = 0)

In [12]:
diamonds_test

       carat        cut color clarity  depth  table     x     y     z
id
0       2.36      Ideal     I     SI2   60.8   54.0  8.68  8.57  5.24
1       2.04      Ideal     H     SI2   62.0   56.0  8.18  8.23  5.09
2       0.51      Ideal     I     SI1   61.7   54.0  5.18  5.19  3.20
3       0.30      Ideal     I     SI1   61.3   56.0  4.32  4.33  2.65
4       0.96       Fair     H     VS2   68.8   56.0  6.11  5.98  4.16
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
13480   0.53    Premium     E    VVS1   60.8   59.0  5.23  5.17  3.16
13481   1.01  Very Good     F     SI1   62.8   60.0  6.32  6.38  3.99
13482   0.92    Premium     F      I1   60.7   58.0  6.29  6.26  3.81
13483   0.39      Ideal     F    VVS2   62.0   54.0  4.70  4.72  2.92
13484   0.62      Ideal     G      IF   62.2   54.0  5.46  5.51  3.41

[13485 rows x 9 columns]

In [13]:
le = preprocessing.LabelEncoder()
diamonds_test["cut"] = le.fit_transform(diamonds_test["cut"])
diamonds_test["color"] = le.fit_transform(diamonds_test["color"])
diamonds_test["clarity"] = le.fit_transform(diamonds_test["clarity"])

In [15]:
diamonds_test.drop(columns = ["x","y","z"] , inplace = True)

In [16]:
price_pred=model.predict(diamonds_test)

In [17]:
 df_price=pd.DataFrame({'price':price_pred})
df_price.index.rename('id', inplace=True)
df_price.head()

           price
id
0   15822.963333
1   13999.988000
2     991.610667
3     474.020500
4    3971.530500

In [18]:
df_price.to_csv("output/train2.csv")